:host {
}

::ng-deep .cordova-camera-capture {
  position: fixed !important;
  z-index: 999999999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  button {
    position: absolute;
    align-self: flex-end;
  }
}
